page-intro {

    #principal{
        background-color: white;
    }
    
    .slide_image img{
        width: 350px;
        border-style: ridge;
        border-width: 0px;
        border-color: white;
        border-radius: 10px;
    }

    .skip {
       float: right;
       padding-right: 20px;
       margin-bottom: 30px;
    }

}
