page-intro {

    #principal{
        background-color: black;
    }
    
    .slide_image img{
        width: 350px;
        border-style: ridge;
        border-width: 2px;
        border-color: black;
        border-radius: 5px;
    }

}
